<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482222282116-gosv62ub1uq5qtg5cfn0ssunleueo6gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482222282116-gosv62ub1uq5qtg5cfn0ssunleueo6gr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482222282116-5potgkev07lst2t167t3fgsktpvpbt9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnwrNcQ60AYqpzu9BGPc3MRRrVK4U0DTU</string>
	<key>GCM_SENDER_ID</key>
	<string>482222282116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qlever.fitt</string>
	<key>PROJECT_ID</key>
	<string>fitt-58bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>fitt-58bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482222282116:ios:9033441aef3b036e2eb9d1</string>
</dict>
</plist>